<header>
  <h1>Free Qr Code Generator</h1>
  <h1>Powered By: <span id="name-span">Tengiz Mikhelidze</span></h1>
</header>
<div class="canvas-wrapper">
  <div class="canvas">
    <canvas id="canvas" style="width: 130px; height: 130px"></canvas>
  </div>
  <div class="canvas-label">
    <p id="canvas-label-p">SCAN ME</p>
  </div>
</div>
<nav>
  <ul>
    <li class="nav-li" [routerLink]="'wifi'" [routerLinkActive]="'active-link'">
      <img src="assets/svgs/wifi.svg">
      <p>WiFi</p>
    </li>
    <li class="nav-li" [routerLink]="'link'" [routerLinkActive]="'active-link'">
      <img src="assets/svgs/link.svg">
      <p>Link</p>
    </li>
  </ul>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<footer></footer>
